<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.9">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.23">
    <script>stage &apos;Pre-deployment&apos;

println &quot;The pre-deplooyment stage is starting...&quot;
echo &apos;This one also works here in groovy&apos;

node(&apos;master&apos;){
    println InetAddress   
}

</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>