<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.9">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.23">
    <script>
stage(&apos;Stage 1&apos;)

println &quot;This is my first line&quot;
echo &quot;By the way this works too&quot;

string ip = &quot;ip addr show eth0&quot;.execute().getText().split(&apos;inet &apos;)[1].split(&apos;/24 brd&apos;)[0]
echo &quot;I&apos;m running from IP: ${ip}&quot;

node(&apos;cas-agent&apos;){
    String ip = sh returnStdout: true, script: &quot;ip addr show eth0 | grep &apos;inet\\b&apos; | awk &apos;{print \$2}&apos;&quot;
    echo &quot;I&apos;m now running inside IP: ${ip}&quot;
}

stage(&apos;Stage 2&apos;)

echo &quot;This is the second stage of the pipeline&quot;
</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
</flow-definition>